footer.footer

  .footer__main 
    .container
      .footer__main-content
        .footer__main-info
          .footer__logo
            a(href="/").logo 
              +img("logo.svg", "logo")
            .socials 
              a.socials__item.socials__item_tg(href="")
              a.socials__item.socials__item_vk(href="")
          .footer__address
            a(href="https://yandex.ru/maps/org/tt_grupp/87968932320/?ll=37.618785%2C54.210139&z=16" target="_blank") 300002, РФ, г. Тула, Демидовская улица, д. 61Г
            p Пн. - Пт. 09:00 - 18:00
          .footer__contacts 
            a.phone-link(href="tel:88001014515") 8 800 101 45 15
            a.email-link(href="mailto: info@t-t.group" target="_blank") info@t-t.group
            a.email-link(href="mailto: buh@t-t.group" target="_blank") buh@t-t.group
            p бухгалтерия
          .copyright ООО «ТТ-ГРУПП» © 2024
        nav.footer__nav
          ul 
            li
              a(href="" title="") О компании
            li
              a(href="" title="") Документы
            li
              a(href="" title="") Новости
            li
              a(href="" title="") Вакансии
            li
              a(href="" title="") Портфолио
            li
              a(href="" title="") Контакты
        nav.footer__nav
          ul
            li
              a(href="" title="" lang="ru") Системы видеонаблюдения
            li
              a(href="" title="" lang="ru") Охранные системы
            li
              a(href="" title="" lang="ru") Контроль доступа
            li
              a(href="" title="" lang="ru") Противопожарные системы
            li
              a(href="" title="" lang="ru") Электромонтажные работы
            li
              a(href="" title="" lang="ru") Системы освещения
            li
              a(href="" title="" lang="ru") Инженерные сети
            li
              a(href="" title="" lang="ru") Кабельная инфраструктура
  .footer__bottom  
    .container
      .footer__bottom-content
        p
          a(href="") Политика конфиденциальности
        p
          a(href="") Карта сайта
        p Разработка и SEO:
          a(href="")  
            span Neuron Agency
