section.index-catalog
  .section__title 
    .container 
      h2 Каталог оборудования
  .container 
    .index-catalog__content
      a.index-catalog__item(href="") 
        .index-catalog__item-img
          +img("catalog/1.png")
        p.index-catalog__item-title AHD видеокамеры

        span Подробнее
        .arrow  
          span 
          span 
          span 
          span 
      a.index-catalog__item(href="")
        .index-catalog__item-img
          +img("catalog/2.png")
        p.index-catalog__item-title IP-видеокамеры
        span Подробнее
        .arrow  
          span 
          span 
          span 
          span 
      a.index-catalog__item(href="")
        .index-catalog__item-img
          +img("catalog/3.png")
        p.index-catalog__item-title Аксессуары и HDD
        span Подробнее
        .arrow  
          span 
          span 
          span 
          span 
      a.index-catalog__item(href="")
        .index-catalog__item-img
          +img("catalog/4.png")
        p.index-catalog__item-title Видеорегистраторы
        span Подробнее
        .arrow  
          span 
          span 
          span 
          span 
      a.index-catalog__item(href="")
        .index-catalog__item-img
          +img("catalog/5.png")
        p.index-catalog__item-title Комплекты усиления связи
        span Подробнее
        .arrow  
          span 
          span 
          span 
          span
      a.index-catalog__item(href="")
        .index-catalog__item-img
          +img("catalog/6.png")
        p.index-catalog__item-title Турникеты
        span Подробнее
        .arrow  
          span 
          span 
          span 
          span
      a.index-catalog__item(href="")
        .index-catalog__item-img
          +img("catalog/7.png")
        p.index-catalog__item-title Шлагбаумы
        span Подробнее
        .arrow  
          span 
          span 
          span 
          span


    .section__bottom