section.clients
  .section__title 
    .container 
      h2 Наши клиенты и партнёры

  .clients__content
    .clients__row
      .clients__img
        +img("clients/1.png", "Русский свет")
      .clients__img
        +img("clients/2.png", "Роснефть")
      .clients__img
        +img("clients/3.png", "Нейрон")
      .clients__img
        +img("clients/4.png", "Shinatorg")
      .clients__img
        +img("clients/5.png", "Тулагорводоканал")
      .clients__img
        +img("clients/6.png", "Globus")
      .clients__img
        +img("clients/7.png", "Мебель Молл")
      .clients__img
        +img("clients/8.png", "Стройтэкс")
      .clients__img
        +img("clients/1.png", "Русский свет")
      .clients__img
        +img("clients/2.png", "Роснефть")
      .clients__img
        +img("clients/8.png", "Стройтэкс")
      .clients__img
        +img("clients/7.png", "Мебель Молл")
      .clients__img
        +img("clients/6.png", "Globus")
      .clients__img
        +img("clients/5.png", "Тулагорводоканал")
      .clients__img
        +img("clients/4.png", "Shinatorg")
      .clients__img
        +img("clients/3.png", "Нейрон")
      .clients__img
        +img("clients/2.png", "Роснефть")
      .clients__img
        +img("clients/1.png", "Русский свет")
      .clients__img
        +img("clients/8.png", "Стройтэкс")
      .clients__img
        +img("clients/7.png", "Мебель Молл")





