section.description 
  .section__title 
    .container 
      h2 #[span ТТ-ГРУПП.] Комплексные системы #[br] безопасности, автоматики и связи в Туле
  .container
    .description__content 
      .description__block
        p К нам обращаются за реализацией комплексных инженерных проектов в сфере построения систем безопасности и автоматики. В состав ООО «ТТ-ГРУПП» входят специалисты с компетенциями и знаниями в различных направлениях, позволяющие вести комплексно реализацию проекта любой сложности. Наша компания обладает необходимыми кадровыми ресурсами и производственно-технической базой для оснащения «под ключ» коммерческих, государственных и частных объектов.
      .description__block
        p Мы предлагаем своим клиентам передовые разработки зарубежных и отечественных производителей, которые мы закупаем напрямую. В подготовке технического решения принимают участие проектировщики, технические специалисты, руководители проектов, что позволяет избежать ошибок в дальнейшей работе, подобрать оптимальные материалы и оборудование, основываясь на опыте всех подразделений.
        p Проектируем, монтируем, обслуживаем, как на территории Тульской области, так и по всей 
          a(href="") России.