section.news.news-index 
  .section__title 
    .container 
      h2 Новости
  .container 
    .news__list 
      a.news__item(href="")
        span 
        span 
        span 
        span 
        .news__item-content 
          .news__item-img 
            +img("news/1.png", "Уважаемые клиенты, партнеры и поставщики!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Уважаемые клиенты, партнеры и поставщики!
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/2.png", "Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/3.png", "Корпоратив в честь дня рождения Компании")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Корпоратив в честь дня рождения Компании
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/4.png", "С Днем Победы!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text С Днем Победы!



    .section__bottom
      a.primary-btn(href="") Смотреть все новости
      span 
