section.portfolio.portfolio_index
  .section__title 
    .container 
      h2 Портфолио
  .portfolio__content 
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/1.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/2.png)") 
      p.portfolio__item-title Мультимедиа в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/3.png)") 
      p.portfolio__item-title IP-видеонаблюдение Dahua и Tiandy в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/4.png)") 
      p.portfolio__item-title Локальная сеть в детском парке развлечений: комфорт для посетителей
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/5.png)") 
      p.portfolio__item-title Замена пожарных шкафов на складском предприятии
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/6.png)") 
      p.portfolio__item-title IP-видеонаблюдение и wi-fi на базе отдыха в Заокском районе.
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/7.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования RVi на территории металлургического завода
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/8.png)") 
      p.portfolio__item-title Противопожарные системы на складе автозапчастей Армтек
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/5.png)") 
      p.portfolio__item-title Локальная сеть в детском парке развлечений: комфорт для посетителей
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/3.png)") 
      p.portfolio__item-title IP-видеонаблюдение Dahua и Tiandy в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/2.png)") 
      p.portfolio__item-title Мультимедиа в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/1.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе
  .section__bottom
    a.primary-btn(href="") Смотреть все проекты
    span 
    span 