section.thanks 
  .section__title 
    .container 
      h2 Благодарности клиентов
  .container 
    .thanks__slider 
      .swiper 
        .swiper-wrapper 
          .swiper-slide 
            .thanks__card
              .thanks__card-img
                +img("letters/1.png", "Благодарность-ООО-Браер-для-ООО-ТТ-ГРУПП-2024")
              p Благодарность-ООО-Браер-для-ООО-ТТ-ГРУПП-2024
          .swiper-slide 
            .thanks__card
              .thanks__card-img
                +img("letters/2.png", "Благодарность-ООО-Браер-для-ООО-ТТ-ГРУПП-2024")
              p Благодарность-ООО-Браер-для-ООО-ТТ-ГРУПП-2024	
          .swiper-slide 
            .thanks__card
              .thanks__card-img
                +img("letters/3.png", "Благодарность АО Тулагорводоканал для ООО ТТ-ГРУПП")
              p Благодарность АО Тулагорводоканал для ООО ТТ-ГРУПП
          .swiper-slide 
            .thanks__card
              .thanks__card-img
                +img("letters/4.png", "Благодарность ООО -ЭЛЕКТРОТЕХМОНТАЖ- для ООО ТТ-ГРУПП")
              p Благодарность ООО -ЭЛЕКТРОТЕХМОНТАЖ- для ООО ТТ-ГРУПП
      .slider-bottom
        .swiper-pagination
        .swiper-navigation
          .swiper-button-prev
            span
            span
            span
          .swiper-button-next 
            span
            span
            span
    .section__bottom