section.work 
  .section__title 
    .container 
      h2 Особенности нашей работы
  .container 
    .work__content.work__content_3
      .work-card
        .work-card__number 1
          span
          span
          span
          span
        .work-card__img 
          +img("benefit1.png", "Оборудование от производителя")
        .work-card__info
          p.work-card__title Оборудование от производителя
          p.work-card__text Мы закупаем оборудование напрямую у производителя, у нас собственный штат сотрудников. Это делает наши цены конкурентными.
      .work-card
        .work-card__number 2
          span
          span
          span
          span
        .work-card__img 
          +img("benefit2.png", "Полный цикл работ")
        .work-card__info
          p.work-card__title Полный цикл работ
          p.work-card__text Мы обеспечиваем полный цикл работ на всех этапах построения комплексных систем безопасности и электрике. Проектирование, монтаж и техническое обслуживание.
      .work-card
        .work-card__number 3
          span
          span
          span
          span
        .work-card__img 
          +img("benefit3.png", "Техническая поддержка")
        .work-card__info
          p.work-card__title Техническая поддержка
          p.work-card__text У нас нет задачи - продать и забыть. Техническая поддержка для наших клиентов действует и по истечении гарантийного срока. К нам обращаются повторно и советуют знакомым.
      .work-card
        .work-card__number 4
          span
          span
          span
          span
        .work-card__img 
          +img("benefit4.png", "Стоимость работ фиксирована")
        .work-card__info
          p.work-card__title Стоимость работ фиксирована
          p.work-card__text Она определяется на этапе согласования проекта, прописывается в договоре и изменению не подлежит.
      .work-card
        .work-card__number 5
          span
          span
          span
          span
        .work-card__img 
          +img("benefit5.png", "Менеджмент качества")
        .work-card__info
          p.work-card__title Менеджмент качества
          p.work-card__text Наши бизнес-процессы отлажены и нацелены на результат и удобство клиента.
      .work-card
        .work-card__number 6
          span
          span
          span
          span
        .work-card__img 
          +img("benefit6.png", "Работаем по договору")
        .work-card__info
          p.work-card__title Работаем по договору
          p.work-card__text Наша компания официально зарегистрирована и платит налоги. С нами легко связаться и нас легко найти.

    .section__bottom