extends layout/main.pug

append variables
  - var title = 'Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика';

block content

  include components/inner/post.pug




append styles
  +style('index.css')