extends layout/main.pug

append variables
  - var title = 'IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе';

block content

  include components/inner/project.pug




append styles
  +style('index.css')