extends layout/main.pug

append variables
  - var title = 'Расчёт места на жёстком диске для камер видеонаблюдения заказать в Туле по выгодной цене от «ТТ-ГРУПП»';

block content

  include components/inner/memory-calc.pug




append styles
  +style('index.css')