extends layout/main.pug

append variables
  - var title = 'Расчет дистанции распознавания для видеонаблюдения заказать в Туле по выгодной цене от «ТТ-ГРУПП»';

block content

  include components/inner/distance-calc.pug




append styles
  +style('index.css')