section.not-found
  .container 
    .not-found__wrapper
      span
      span
      span
      span

      .not-found__text
        h1 Ошибка 404
        p Страница с таким адресом больше не существует или сменила адрес или её кто-то украл, потому что она не воспользовалась нашими услугами...
        p Не будьте как эта страница, переходите в каталог услуг 
        a.primary-btn(href="") Открыть услуги
      +img("404.png", "404")