- let breadcrumb = ["Главная", "О компании"];
section.page-top.page-top_bg(style="background-image: url(assets/img/about.png)")
  .container 
    .page-top__content
      +breadcrumbs(breadcrumb)
      h1 О компании
section.about
  .section__title 
    .container 
      h2 Наша компания
  .container 
    .about__text 
      p Компания "ТТ-ГРУПП" была основана в 2017 году  для реализации проектов в сфере интегрированных систем безопасности, инженерных систем и электрики для коммерческих, государственных и частных объектов.
      p За годы работ мы реализовали сотни проектов и накопили обширные знания в области систем безопасности и электрики. В штате нашей команды инженеры-проектировщики, монтажники, инженеры по ТО, руководители проектов, всего более 20-и сложившихся специалистов, регулярно проходящих обучение.
section.info.info_right 
  .container 
    .info__content 
      .info__block 
        h2 Наши компетенции
        p Компания аккредитована и имеет следующие допуски и лицензии:
      .info__block  
        .post
          ol 
            li Лицензия МЧС № 77-Б/05584 от «04» декабря 2017 г.;
            li Добровольный сертификат. Система менеджмента качества ISO 9001:2015;
            li Допуск члена СРО, осуществляющего подготовку проектной документации №569 от «04» июля 2019 г.;
            li Допуск члена СРО, осуществляющего строительство № 477 от «08» июля 2019 г.;
            li Свидетельство об аккредитации экспертной организации по проверке работоспособности систем и элементов противопожарной защиты № 122/ЭО/20ПБ от «05» августа 2022 г.;
            li Добровольный сертификат. Система менеджмента профессионального здоровья и безопасности OHSAS 18001:2007.
        .section__bottom
section.info.info_left 
  .container 
    .info__content 
      .info__block 
        h2 Мы оказываем комплексные услуги
        p Вам не придется обращаться за дополнительными услугами к разным подрядчикам. Мы работаем по принципу "все в одном".
        p Для того, чтобы получить грамотную систему, так или иначе, придется пройти через несколько этапов:
      .info__block
        .work
          .work__content.work__content_2
            .work-card
              .work-card__number 1
                span
                span
                span
                span
              .work-card__img 
                +img("benefit7.png", "Проектирование")
              .work-card__info
                p.work-card__title Проектирование
            .work-card
              .work-card__number 2
                span
                span
                span
                span
              .work-card__img 
                +img("benefit8.png", "Поставка оборудования")
              .work-card__info
                p.work-card__title Поставка оборудования
            .work-card
              .work-card__number 3
                span
                span
                span
                span
              .work-card__img 
                +img("benefit9.png", "Монтажные и пуско-наладочные работы")
              .work-card__info
                p.work-card__title Монтажные и пуско-наладочные работы
            .work-card
              .work-card__number 4
                span
                span
                span
                span
              .work-card__img 
                +img("benefit10.png", "Техническое обслуживание")
              .work-card__info
                p.work-card__title Техническое обслуживание
          .section__bottom
section.fos 
  .container 
    .fos__content(style="background-image: url(assets/img/fos.png)") 
      .fos__block
        p Мы берем на себя все этапы работы, чтобы вы получили полноценную систему. Вы просто связываетесь с нами любым удобным способом. Дальше - мы сделаем всё сами!
        .fos__btns  
          a.primary-btn.openmodal(data-modal="message") Написать нам
          a.secondary-btn.openmodal(data-modal="callback") Обратный звонок
    .section__bottom
      span
      span
      span
      span

section.mission
  .section__title 
    .container 
      h2 Качество. Миссия. Цель
  .container 
    .benefits__grid.benefits__grid_3
      .benefits-card 
        .benefits-card__number 1
          span
          span
          span
          span
        .icon.benefits-card__icon(style="background-image: url(assets/img/svg/icon18.svg)") 
          svg(width='56' height='58' viewBox='0 0 56 58' fill='none' xmlns='http://www.w3.org/2000/svg')
            circle(cx='28' cy='23' r='11' stroke-width='1.5' stroke-linecap='round')
            path(d='M27.3753 1.49977L23.3543 4.71661C23.1292 4.89671 22.8373 4.97089 22.5535 4.9201L17.7908 4.06789C17.3285 3.99747 16.879 4.25694 16.7088 4.69258L14.8349 9.48898C14.73 9.75751 14.5143 9.9677 14.2431 10.0656L9.6927 11.7089C9.25706 11.8791 8.99758 12.3285 9.068 12.7909L9.84334 17.8816C9.88675 18.1667 9.80502 18.4566 9.61913 18.677L6.49965 22.3753C6.20747 22.7405 6.20747 23.2595 6.49965 23.6247L9.7165 27.6457C9.8966 27.8709 9.97077 28.1627 9.92001 28.4465L9.06802 33.2091C8.9976 33.6715 9.25708 34.1209 9.69272 34.2911L14.4891 36.165C14.7576 36.2699 14.9678 36.4856 15.0658 36.7568L16.7089 41.3074C16.8791 41.7431 17.3285 42.0025 17.7909 41.9321L22.8817 41.1568C23.1667 41.1134 23.4566 41.1951 23.677 41.381L27.3753 44.5003C27.7406 44.7924 28.2595 44.7924 28.6247 44.5003L32.6458 41.2834C32.8709 41.1033 33.1628 41.0292 33.4467 41.08L38.2093 41.9325C38.6716 42.0029 39.1211 41.7434 39.2913 41.3078L41.1652 36.5114C41.2701 36.2429 41.4858 36.0327 41.7569 35.9347L46.3074 34.2914C46.743 34.1212 47.0025 33.6717 46.9321 33.2094L46.1567 28.1186C46.1133 27.8336 46.1951 27.5437 46.3809 27.3233L49.5004 23.6248C49.7926 23.2596 49.7926 22.7407 49.5004 22.3755L46.2836 18.3544C46.1035 18.1292 46.0294 17.8374 46.0801 17.5536L46.9322 12.791C47.0026 12.3286 46.7431 11.8792 46.3075 11.709L41.5111 9.83504C41.2425 9.73012 41.0324 9.51441 40.9344 9.24324L39.2912 4.6926C39.121 4.25696 38.6715 3.99749 38.2092 4.06791L33.1184 4.84325C32.8334 4.88666 32.5435 4.80494 32.3231 4.61907L28.6247 1.49977C28.2595 1.2076 27.7406 1.2076 27.3753 1.49977Z' stroke-width='1.5' stroke-linecap='round')
            path(d='M24 23.5L27 26.5L33 20.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            path(d='M10.5 41L4.98195 50.5575C4.5733 51.2653 5.14021 52.1378 5.95298 52.052L10.04 51.6205C10.4711 51.575 10.8825 51.8125 11.0587 52.2087L12.7285 55.9638C13.0605 56.7106 14.0996 56.7653 14.5082 56.0575L19.0263 48.2319' stroke-width='1.5' stroke-linecap='round')
            path(d='M45.5264 41L51.0444 50.5575C51.4531 51.2653 50.8862 52.1378 50.0734 52.052L45.9864 51.6205C45.5552 51.575 45.1438 51.8125 44.9677 52.2087L43.2979 55.9638C42.9658 56.7106 41.9268 56.7653 41.5181 56.0575L37 48.2319' stroke-width='1.5' stroke-linecap='round')
        .benefits-card__info
          p.benefits-card__title Качество
          p.benefits-card__text Один из главных принципов деятельности нашей компании. Каждый этап работы жестко контролируется на соответствие проектным требованиям
      .benefits-card 
        .benefits-card__number 2
          span
          span
          span
          span
        .icon.benefits-card__icon(style="background-image: url(assets/img/svg/icon19.svg)") 
          svg(width='57' height='58' viewBox='0 0 57 58' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M24.8889 25L27.2106 22.0149C27.611 21.5001 28.389 21.5001 28.7894 22.0149L35.7778 31M14 39L1.25529 55.3861C0.744398 56.0429 1.21249 57 2.04464 57H53.9554C54.7875 57 55.2556 56.0429 54.7447 55.3861L52.8889 53' stroke-width='1.5' stroke-linecap='round')
            path(d='M28 18.5V1' stroke-width='1.5' stroke-linecap='round')
            path(d='M28 15C28.8333 14.5 31.1 13.5 33.5 13.5C36.5 13.5 39 15 42 15C44.07 15 46.7848 14.2561 48.3477 13.7307C48.7428 13.5979 49 13.2238 49 12.807V2.443C49 1.74479 48.3007 1.25519 47.6332 1.46011C46.0418 1.9487 43.782 2.5 42 2.5C39 2.5 36.5 1 33.5 1C31.1 1 28.8333 2 28 2.5' stroke-width='1.5' stroke-linecap='round')
            path(d='M6.36 36C4.50445 36 3 34.4651 3 32.5714C3 30.6778 4.50445 29.1429 6.36 29.1429V29.1429C6.8308 29.1429 7.29174 28.839 7.41581 28.3848C8.1068 25.8556 10.3807 24 13.08 24C14.8912 24 16.5108 24.8355 17.5892 26.1493C17.877 26.4998 18.3389 26.6683 18.7885 26.6097C18.9822 26.5844 19.1796 26.5714 19.38 26.5714C21.9312 26.5714 24 28.6821 24 31.2857C24 33.8894 21.9312 36 19.38 36C15.04 36 10.7 36 6.36 36Z' stroke-width='1.5' stroke-linecap='round')
            path(d='M32.48 50C30.0059 50 28 47.9534 28 45.4286C28 42.9037 30.0059 40.8571 32.48 40.8571C32.4896 40.8571 32.4992 40.8572 32.5089 40.8572C33.1214 40.8612 33.7209 40.4658 33.8802 39.8743C34.7924 36.4878 37.831 34 41.44 34C43.9459 34 46.1768 35.1995 47.6118 37.0664C47.8881 37.426 48.3512 37.5958 48.7979 37.5181C49.1367 37.4592 49.4848 37.4286 49.84 37.4286C53.2416 37.4286 56 40.2427 56 43.7143C56 47.1858 53.2416 50 49.84 50C44.0533 50 38.2667 50 32.48 50Z' stroke-width='1.5' stroke-linecap='round')
        .benefits-card__info
          p.benefits-card__title Миссия
          p.benefits-card__text Перевести на новый уровень управление, безопасность и качество обслуживания объектов. Обеспечить доступность новых инженерных технологий для частных лиц и государственных организаций
      .benefits-card 
        .benefits-card__number 3
          span
          span
          span
          span
        .icon.benefits-card__icon(style="background-image: url(assets/img/svg/icon17.svg)") 
          svg(width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M29 29L43 15M50 8V3.41421C50 2.52331 48.9229 2.07714 48.2929 2.70711L43.2929 7.70711C43.1054 7.89464 43 8.149 43 8.41421V15M50 8L43 15M50 8H54.5858C55.4767 8 55.9229 9.07714 55.2929 9.70711L50.2929 14.7071C50.1054 14.8946 49.851 15 49.5858 15H43' stroke-width='1.5' stroke-linecap='round')
            path(d='M54.7566 18C56.2006 21.3768 57 25.0951 57 29C57 44.464 44.464 57 29 57C13.536 57 1 44.464 1 29C1 13.536 13.536 1 29 1C32.6797 1 36.1937 1.70982 39.4123 3' stroke-width='1.5' stroke-linecap='round')
            path(d='M44.5919 20C46.1234 22.6476 47 25.7214 47 29C47 38.9411 38.9411 47 29 47C19.0589 47 11 38.9411 11 29C11 19.0589 19.0589 11 29 11C31.9753 11 34.7819 11.7219 37.2544 13' stroke-width='1.5' stroke-linecap='round')
            path(d='M30 22.0709C29.6734 22.0242 29.3395 22 29 22C25.134 22 22 25.134 22 29C22 32.866 25.134 36 29 36C32.866 36 36 32.866 36 29C36 28.5213 35.9519 28.0537 35.8604 27.602' stroke-width='1.5' stroke-linecap='round')
            path(d='M1 57L6 52' stroke-width='1.5' stroke-linecap='round')
            path(d='M57 57L52 52' stroke-width='1.5' stroke-linecap='round')
        .benefits-card__info
          p.benefits-card__title Цель
          p.benefits-card__text Внедрять эффективные инженерные решения для интенсивного развития и достижения стратегических целей наших клиентов
    .section__bottom
section.benefits.garantee
  .container
    .benefits__content
      .benefits__block
        h3 Гарантии и конфиденциальность
        div
          p Мы гарантируем нашим клиентам стабильность, надежность и долгосрочные намерения сотрудничества, что подтвердят наши многочисленные заказчики, ставшие за время работы надёжными партнерами, которые возвращаются снова и снова.
          p Мы гарантируем полную конфиденциальность в отношении любой информации, полученной от наших клиентов на всех этапах работы:
      .benefits__block 
        .benefits__grid.benefits__grid_2
          .benefits-card 
            .benefits-card__number 1
              span
              span
              span
              span
            .icon.benefits-card__icon(style="background-image: url(assets/img/svg/icon30.svg)") 
              svg(width='58' height='56' viewBox='0 0 58 56' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M19.2317 37.4656C19.2317 36.361 20.1271 35.4656 21.2317 35.4656H36.7666C37.8711 35.4656 38.7666 36.361 38.7666 37.4656L38.7666 49.6056C38.7666 50.7997 38.0602 51.8805 36.9386 52.2904C34.9589 53.0139 31.7537 54.0237 29.2861 54.0237C26.7885 54.0237 23.2929 52.9891 21.1499 52.2641C19.9832 51.8694 19.2317 50.7628 19.2317 49.5312V37.4656Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M28.8174 43.5291L28.8174 47.7267' stroke-width='1.5' stroke-linecap='round')
                path(d='M36.0002 34.9999V34.9999C36.0002 31.134 32.8662 28 29.0002 28.0001V28.0001C25.1343 28.0001 22.0002 31.1341 22.0002 35V35' stroke-width='1.5' stroke-linecap='round')
                path(d='M39 9V6C39 3.23858 36.7614 1 34 1H24C21.2386 1 19 3.23858 19 6V9' stroke-width='1.5' stroke-linecap='round')
                path(d='M19.2331 31.4885L3.73558 26.9045C2.88589 26.6532 2.30286 25.8727 2.30286 24.9867V10.9536C2.30286 9.84904 3.19829 8.95361 4.30286 8.95361H53.6982C54.8028 8.95361 55.6982 9.84904 55.6982 10.9536V24.9867C55.6982 25.8727 55.1152 26.6532 54.2655 26.9045L38.768 31.4885' stroke-width='1.5' stroke-linecap='round')
                path(d='M3.60465 27.5121V51.3725M54.3953 27.5121V51.3725M57 51.3725H41.6977M1 51.3725H16.3023' stroke-width='1.5' stroke-linecap='round')
            .benefits-card__info
              p.benefits-card__text Любая информация, касающаяся наших договоренностей, в том числе стоимость реализации проекта;
          .benefits-card 
            .benefits-card__number 2
              span
              span
              span
              span
            .icon.benefits-card__icon(style="background-image: url(assets/img/svg/icon31.svg)") 
              svg(width='56' height='57' viewBox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M27.2618 1.65068C22.6907 7.66818 13.7209 9.32457 8.12063 9.42844C6.96864 9.44981 6 10.362 6 11.5142V27.497C6 33.4724 6.33171 48.321 27.6832 55.7758C28.1002 55.9214 28.5756 55.9193 28.9911 55.7694C49.6685 48.3058 50 33.1389 50 27.497V11.2438C50 10.1971 49.1923 9.33194 48.153 9.20752C42.37 8.51519 33.1462 6.33999 29.3842 1.66561C28.8709 1.02778 27.7571 0.998721 27.2618 1.65068Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M18 25.4656C18 24.361 18.8954 23.4656 20 23.4656H36C37.1046 23.4656 38 24.361 38 25.4656L38 37.5872C38 38.7907 37.2826 39.8778 36.1493 40.283C34.1243 41.0069 30.8288 42.0237 28.2938 42.0237C25.7275 42.0237 22.1319 40.9816 19.9401 40.2562C18.7625 39.8665 18 38.754 18 37.5136V25.4656Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M27.8142 31.5291L27.8142 35.7267' stroke-width='1.5' stroke-linecap='round')
                path(d='M35.1678 22.9999V22.9999C35.1678 19.134 32.0339 16 28.168 16.0001L27.8343 16.0001C23.9684 16.0001 20.8345 19.1341 20.8345 23V23' stroke-width='1.5' stroke-linecap='round')
            .benefits-card__info
              p.benefits-card__text Индивидуальные данные, включая контактную информацию и месторасположение;
          .benefits-card 
            .benefits-card__number 3
              span
              span
              span
              span
            .icon.benefits-card__icon(style="background-image: url(assets/img/svg/icon32.svg)") 
              svg(width='58' height='57' viewBox='0 0 58 57' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M30.8829 22.2284C30.2326 28.3464 26.9507 33 23 33C18.8829 33 15.4922 27.9462 15.0491 21.4479' stroke-width='1.5' stroke-linecap='round')
                path(d='M20.5244 14.9809C18.231 13.3593 16.6788 17.1871 15.8987 20.5574C15.6996 21.4176 14.6589 21.6277 14.3949 20.7852C13.1134 16.6959 15.0265 10.9423 19.0359 9.61338C23.5096 8.13064 27.8802 9.43319 29.2318 12.4745C29.3927 12.8366 29.7195 13.1008 30.0823 13.2602C32.1836 14.1838 32.4221 18.186 31.4543 21.5009C31.1935 22.3941 30.1251 22.2306 29.981 21.3113C29.5357 18.4709 28.906 15.2273 27.6692 14.6652C26.3096 14.0472 24.7255 15.2073 23.7568 16.2272C23.4185 16.5834 22.8927 16.6914 22.488 16.4128C22.0485 16.1103 21.4057 15.6485 20.5244 14.9809Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M23.5858 36H22.4142C21.6332 36 21 36.6332 21 37.4142C21 37.7893 21.149 38.149 21.4142 38.4142L21.5 38.5C21.8201 38.8201 22.2544 39 22.7071 39H23.2929C23.7456 39 24.1799 38.8201 24.5 38.5L24.5858 38.4142C24.851 38.149 25 37.7893 25 37.4142C25 36.6332 24.3668 36 23.5858 36Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M25.5797 44L24.2737 39.8662C24.1107 39.3505 23.6324 39 23.0916 39V39C22.5091 39 22.0052 39.4056 21.8807 39.9747L21 44' stroke-width='1.5' stroke-linecap='round')
                path(d='M1 42.1483C1 41.3299 1.4986 40.5941 2.25869 40.2908L13.9183 35.6377C14.8369 35.2711 15.8856 35.6311 16.3855 36.4846L20.4207 43.3759C20.7795 43.9887 21.4364 44.3653 22.1465 44.3653H24.3678C25.0702 44.3653 25.7212 43.9968 26.0826 43.3945L30.2155 36.5087C30.7332 35.6461 31.8112 35.3023 32.7327 35.706L44.8024 40.9927C45.53 41.3114 46 42.0304 46 42.8247V54C46 55.1046 45.1046 56 44 56H3C1.89543 56 1 55.1046 1 54V42.1483Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M45.462 1.57707C43.4867 3.51905 40.4674 4.27923 38.124 4.48575C36.9757 4.58693 36 5.50057 36 6.65325V13.2575C36 16.106 36.1548 23.1366 46.0076 26.7689C46.4261 26.9231 46.8959 26.9212 47.3126 26.7621C56.8454 23.1213 57 15.9461 57 13.2575V6.38105C57 5.33492 56.1926 4.47965 55.152 4.37275C52.7469 4.12569 49.6708 3.54872 47.7862 1.62788C47.2106 1.04123 46.0481 1.00091 45.462 1.57707Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M41.421 12.1685C41.421 11.0639 42.3165 10.1685 43.421 10.1685H49.5789C50.6835 10.1685 51.5789 11.0639 51.5789 12.1685L51.5789 17.4C51.5789 18.1911 51.1131 18.9099 50.3684 19.1768C49.3336 19.5476 47.8292 20 46.6492 20C45.4516 20 43.8128 19.534 42.6911 19.1602C41.9166 18.9022 41.421 18.1664 41.421 17.35V12.1685Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M46.3868 13.8748L46.3868 15.2195' stroke-width='1.5' stroke-linecap='round')
                path(d='M49.9579 10V8.98432C49.9579 7.07456 48.4097 5.52639 46.4999 5.52643V5.52643C44.5902 5.52646 43.0421 7.0746 43.0421 8.98432V10.0001' stroke-width='1.5' stroke-linecap='round')
            .benefits-card__info
              p.benefits-card__text Все, что касается Вашей частной или профессиональной жизни;
          .benefits-card 
            .benefits-card__number 4
              span
              span
              span
              span
            .icon.benefits-card__icon(style="background-image: url(assets/img/svg/icon33.svg)") 
              svg(width='56' height='58' viewBox='0 0 56 58' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M37.3825 3.97864H44.0846C45.1892 3.97864 46.0846 4.87407 46.0846 5.97864V25.4467M7.95697 53.234V53.8084C7.95697 54.913 8.8524 55.8084 9.95697 55.8084H29.7868' stroke-width='1.5' stroke-linecap='round')
                path(d='M32.9782 39.936C32.9782 38.8315 33.8736 37.936 34.9782 37.936H52.425C53.5296 37.936 54.425 38.8315 54.425 39.936L54.425 53.1362C54.425 53.9496 53.9331 54.681 53.1677 54.9564C51.1396 55.6861 47.0653 56.9999 44.0167 56.9999C40.9392 56.9999 36.4817 55.6612 34.2922 54.9358C33.4974 54.6725 32.9782 53.9254 32.9782 53.0881V39.936Z' stroke-width='1.5' stroke-linecap='round')
                path(d='M43.7012 45.0851L43.7012 49.851' stroke-width='1.5' stroke-linecap='round')
                path(d='M49.6593 37.5L49.6593 34.0213C49.6593 31.2599 47.4207 29.0213 44.6592 29.0213L42.7443 29.0214C39.983 29.0214 37.7444 31.26 37.7444 34.0214L37.7444 37.5' stroke-width='1.5' stroke-linecap='round')
                path(d='M40.1277 10.5319L29.4043 1M40.1277 10.5319H31.4043C30.2997 10.5319 29.4043 9.63649 29.4043 8.53192V1M40.1277 10.5319V25.4468M29.4043 1H4C2.89543 1 2 1.89543 2 3V48.0426C2 49.1471 2.89543 50.0426 4 50.0426H28.5957' stroke-width='1.5' stroke-linecap='round')
                path(d='M7.95776 18.8723H34.1705' stroke-width='1.5' stroke-linecap='round')
                path(d='M7.95776 26.0214H34.1705' stroke-width='1.5' stroke-linecap='round')
                path(d='M7.95776 33.1702H34.1705' stroke-width='1.5' stroke-linecap='round')
                path(d='M7.95776 40.3192H28.5961' stroke-width='1.5' stroke-linecap='round')
            .benefits-card__info
              p.benefits-card__text Конфиденциальные сведения не подлежат разглашению и распространению в иной форме как в течение всего срока действия Договора, так и после его прекращения, независимо от основания такого прекращения.
        .section__bottom
section.description 
  .section__title 
    .container 
      h2 Главное
  .container
    .description__content 
      .description__block
        p #[strong Мы самые обычные люди, и мы действительно очень хорошо разбираемся в интегрированных системах безопасности.]
      .description__block
        p Если вы захотите заказать у нас оборудование или услуги, будем рады вам помочь. Звоните, пишите, присоединяйтесь к нам в соцсетях. Мы с удовольствием пообщаемся с вами по любому вопросу, связанному с нашими видами деятельности.

include ../callback