- let breadcrumb = ["Главная", "Новости"];
section.page-top.page-top_grey
  .container 
    .page-top__content
      +breadcrumbs(breadcrumb)
      h1 Новости
section.news.news-inner 
  .container 
    .news__list 
      a.news__item(href="")
        span 
        span 
        span 
        span 
        .news__item-content 
          .news__item-img 
            +img("news/1.png", "Уважаемые клиенты, партнеры и поставщики!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Уважаемые клиенты, партнеры и поставщики!
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/2.png", "Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/3.png", "Корпоратив в честь дня рождения Компании")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Корпоратив в честь дня рождения Компании
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/4.png", "С Днем Победы!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text С Днем Победы!
      a.news__item(href="")
        span 
        span 
        span 
        span 
        .news__item-content 
          .news__item-img 
            +img("news/1.png", "Уважаемые клиенты, партнеры и поставщики!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Уважаемые клиенты, партнеры и поставщики!
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/2.png", "Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/3.png", "Корпоратив в честь дня рождения Компании")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Корпоратив в честь дня рождения Компании
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/4.png", "С Днем Победы!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text С Днем Победы!
      a.news__item(href="")
        span 
        span 
        span 
        span 
        .news__item-content 
          .news__item-img 
            +img("news/1.png", "Уважаемые клиенты, партнеры и поставщики!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Уважаемые клиенты, партнеры и поставщики!
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/2.png", "Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика


    .pagination 
      .pagination__item.pagination__item_prev
      .pagination__item.pagination__item_active 1
      .pagination__item 2
      .pagination__item 3
      .pagination__item 4
      .pagination__item 5
      .pagination__item.pagination__item_next
include ../callback

