- let breadcrumb = ["Главная", "Новости", "Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика"];
section.page-top.page-top_grey
  .container 
    .page-top__content
      +breadcrumbs(breadcrumb)
      h1 Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика
      .post-date 08.05.2024
section.post 
  .container
    p Этот день в истории нашей страны ознаменован великими подвигами и несомненной доблестью. 9 мая - это не просто дата, это символ мужества, стойкости и памяти о тех, кто отдал свои жизни за мирное будущее наших детей. В этот день мы вспоминаем героические деяния наших предков, которые сражались за свободу и независимость нашей Родины.
    h2 Заголовок h2
    p Этот день в истории нашей страны ознаменован великими подвигами и несомненной доблестью. 9 мая - это не просто дата, это символ мужества, стойкости и памяти о тех, кто отдал свои жизни за мирное будущее наших детей. В этот день мы вспоминаем героические деяния наших предков, которые сражались за свободу и независимость нашей Родины.
    p Этот день в истории нашей страны ознаменован великими подвигами и несомненной доблестью. 9 мая - это не просто дата, это символ мужества, стойкости и памяти о тех, кто отдал свои жизни за мирное будущее наших детей. В этот день мы вспоминаем героические деяния наших предков, которые сражались за свободу и независимость нашей Родины.
    .highlighted-text   
      p Выделенный текст
    p Этот день в истории нашей страны ознаменован великими подвигами и несомненной доблестью. 9 мая - это не просто дата, это символ мужества, стойкости и памяти о тех, кто отдал свои жизни за мирное будущее наших детей. В этот день мы вспоминаем героические деяния наших предков, которые сражались за свободу и независимость нашей Родины.
    +img("post-img.png")
    p Этот день в истории нашей страны ознаменован великими подвигами и несомненной доблестью. 9 мая - это не просто дата, это символ мужества, стойкости и памяти о тех, кто отдал свои жизни за мирное будущее наших детей. В этот день мы вспоминаем героические деяния наших предков, которые сражались за свободу и независимость нашей Родины.
    h3 Заголовок h3
    p Нумерованный список
    ol 
      li Значительно повышает уровень безопасности для производственных и жилых объектов. Все передвижения злоумышленников можно будет увидеть на мониторе и зафиксировать их неправомерные действия;
      li Уменьшает вероятность совершения преступлений, помогает избежать значительных финансовых потерь, снижается количество краж и правонарушений;
      li Способствует быстрому реагированию служб безопасности на различные правонарушения и тревожные события на охраняемом объекте;
      li Повышается дисциплина рабочего и обслуживающего персонала;
      li Позволяет контролировать несколько объектов одновременно;
      li Позволяет провести системный анализ какого-либо инцидента;
    p Список с буллетами
    ul 
      li Позволяет провести системный анализ какого-либо инцидента;
      li Позволяет провести системный анализ какого-либо инцидента;
      li Позволяет провести системный анализ какого-либо инцидента;
    h4 Заголовок h4
    p Заказчик должен понимать, что чем более высокие требования предъявляются к системе видеонаблюдения, тем больше оборудования потребуется и, тем более дорогой будет система. Еще одним фактором, существенно влияющим на стоимость системы видеонаблюдения — это система хранения данных. Стоимость системы хранения в большой степени зависит от глубины архива и качества видеоданных (количество кадров и разрешения видео картинки).
    h5 Заголовок 5, а ниже оформление таблицы
    .custom-table 
      .custom-table__head
        .custom-table__column Виды услуг
        .custom-table__column Ед. измерения
        .custom-table__column Цена за ед., руб.
      .custom-table__dropdown.active Монтаж оборудования
        .custom-table__btn
          span
          span
      .custom-table__body(style="display: block")
        .custom-table__row
          .custom-table__column Монтаж и сборка шкафа телекоммуникационного, от
          .custom-table__column шт.
          .custom-table__column 3 500,00
        .custom-table__row
          .custom-table__column Монтаж и сборка шкафа телекоммуникационного, от
          .custom-table__column шт.
          .custom-table__column 5 000,00
      .custom-table__dropdown.active Пуско-наладочные работы
        .custom-table__btn
          span
          span
      .custom-table__body(style="display: block")
        .custom-table__row
          .custom-table__column Обучение пользователя до 3-х человек
          .custom-table__column система
          .custom-table__column бесплатно
        .custom-table__row
          .custom-table__column Обучение пользователя до 3-х человек
          .custom-table__column -
          .custom-table__column бесплатно
        .custom-table__row
          .custom-table__column Подготовка коммерческого предложения
          .custom-table__column -
          .custom-table__column бесплатно



section.news.news-inner 
  .section__title 
    .container 
      h2 Новости
  .container 
    .news__list 
      a.news__item(href="")
        span 
        span 
        span 
        span 
        .news__item-content 
          .news__item-img 
            +img("news/1.png", "Уважаемые клиенты, партнеры и поставщики!")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Уважаемые клиенты, партнеры и поставщики!
      a.news__item(href="")
        span 
        span 
        span 
        span
        .news__item-content 
          .news__item-img 
            +img("news/2.png", "Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика")
          .news__item-info 
            .news__item-date 28.12.2023
            p.news__item-text Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню монтажника и энергетика
    .section__bottom
      span
include ../callback