- let breadcrumb = ["Главная", "Каталог оборудования", "Шлагбаумы", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»"];
section.page-top.page-top_grey
  .container 
    .page-top__content
      +breadcrumbs(breadcrumb)
      h1 Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»
section.product 
  .container 
    .product__main
      .product__img 
        .swiper.product__slider-main 
          .swiper-wrapper 
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
          .swiper-button-prev
          .swiper-button-next
          .swiper-pagination
        .swiper.product__slider-thumbs 
          .swiper-wrapper 
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
            .swiper-slide 
              +img("products/5.png", "Механический шлагбаум CARDDEX «MBT», комплект «Стандарт Плюс»")
      .product__info
        span
        span
        span
        span
        .product__info-text
          p.product__title.h3 Состав комплекта:
          ul
            li Тумба механического шлагбаума МВТ
            li Механизм подъема стрелы с системой балансировочных пружин
            li Стрела шлагбаума ""МТ-04W""
            li Опора для стрелы ""BST-01"""
        .product__info-bottom
          a.primary-btn.openmodal(data-modal="callback") Заказать
          .product__price   
            label Цена:
            .product__price-amount #[span 37 950] руб.
section.chars 
  .container 
    .chars__content 
      p.h3 Характеристики
      table 
        tr 
          td Длина стрелы
          td 4,3 м
        tr
          td Зона перекрытия проезда
          td до 5м
        tr
          td Принцип работы
          td Механический
        tr
          td Диапазон рабочих температур
          td от −55 до +55
        tr
          td Класс защиты корпуса
          td IP44
        tr
          td Габаритные размеры тумбы (Д х Ш х В)
          td 280×1015×294
        tr
          td Вес
          td Не более 30 кг
section.product-description
  .container 
    .product-description__content
      .h3 Описание
      p Механические ручные шлагбаумы CARDDEX «MBT» предназначены для использования в местах с малой интенсивностью движения. Они подходят для установки в садовых товариществах, промышленных зонах, сельских поселениях и т.п.
include ../callback