- let breadcrumb = ["Главная", "Портфолио", "Системы видео-наблюдения", "IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе"];
section.page-top.page-top_bg(style="background-image: url(assets/img/project.png)")
  .container 
    .page-top__content 
      +breadcrumbs(breadcrumb)
      h1 IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе
section.post 
  .container
    p Система видеонаблюдения на автомойке играет критически важную роль в обеспечении безопасности, управлении и контроле качества услуг. Основные причины, по которым установка видеонаблюдения на автомойке является необходимой: Безопасность сотрудников и клиентов, защита от мошенничества, контроль качества услуг, оптимизация работы, удаленный мониторинг, профилактика преступлений.
    h2 1. Задача
    p Организовать видеонаблюдение на территории автомоечного комплекса. Необходимо установить камеры высокого разрешения для четкого изображения. Важно, чтобы камеры были устойчивы к влаге и перепадам температур, так как условия на автомойке могут быть «жесткими». В том числе камеры должны иметь ИК-подсветкой для наблюдения в ночное время.
    h2 2. Результат
    p Мы провели обследование объекта совместно с представителями Заказчика. Определили оптимальное количество и типы видеокамер, учли особенности объекта и требования Заказчика, определили требования к системе хранения и обработки видеоматериалов. Провели монтажные и пуско-наладочные работы.
    p Смонтированная система видеонаблюдения отвечает всем запросам заказчика:
    ol  
      li  установлены камеры высокого разрешения, устойчивые к влаге и перепадам температур, оснащены ИК-подсветкой;
      li установленные камеры покрывают все ключевые зоны, что поможет контролировать как процесс мойки, так и обеспечивать безопасность сотрудников и клиентов;
      li обеспечен достаточный объем памяти для хранения записей с камер, чтобы система позволяла сохранять записи в течение согласованного периода, что может быть необходимо для разбирательств по спорным ситуациям;
      li система предоставляет удобный доступ к архивам видеозаписей для быстрого реагирования на инциденты. Есть возможность удаленного доступа через интернет, что позволит владельцу или управляющему контролировать ситуацию в режиме реального времени.
    h2 3. Установленное оборудование
    ol  
      li IP-видеокамеры «Hikvision»
      li IP-видеорегистраторы «Hikvision»
      li PoE-коммутаторы OSNOVO
      li Телевизор 43″
    p Система видеонаблюдения на автомойке играет критически важную роль в обеспечении безопасности, управлении и контроле качества услуг, в том числе повышает уровень безопасности и защиты и способствует более эффективному управлению бизнесом, улучшению качества обслуживания и оптимизации рабочих процессов.
    p Если Вам необходим подбор оборудования для обеспечения охраны и безопасности объектов или нужна консультация — сотрудники ООО «ТТ-ГРУПП», всегда готовы Вам помочь. Мы практикуем индивидуальный подход к каждому клиенту и предлагаем конкурентные цены в регионе. Такой подход позволяет гибко формировать цену монтажа видеонаблюдения и предоставлять нашим клиентам широкий выбор технических решений на все случаи жизни и кошелек.
section.gallery
  .section__title 
    .container 
      h2 Фотогалерея
  .container
    .gallery__slider
      .swiper 
        .swiper-wrapper 
          .swiper-slide         
            +img("gallery1.png", "изображение")         
          .swiper-slide 
            +img("gallery2.png", "изображение")
          .swiper-slide  
            +img("gallery3.png", "изображение")


      .slider-bottom
        .swiper-pagination
        .swiper-navigation
          .swiper-button-prev
            span
            span
            span
          .swiper-button-next 
            span
            span
            span
    .section__bottom

section.portfolio.portfolio_index
  .section__title 
    .container 
      h2 Портфолио
  .portfolio__content 
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/1.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/2.png)") 
      p.portfolio__item-title Мультимедиа в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/3.png)") 
      p.portfolio__item-title IP-видеонаблюдение Dahua и Tiandy в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/4.png)") 
      p.portfolio__item-title Локальная сеть в детском парке развлечений: комфорт для посетителей
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/5.png)") 
      p.portfolio__item-title Замена пожарных шкафов на складском предприятии
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/6.png)") 
      p.portfolio__item-title IP-видеонаблюдение и wi-fi на базе отдыха в Заокском районе.
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/7.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования RVi на территории металлургического завода
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/8.png)") 
      p.portfolio__item-title Противопожарные системы на складе автозапчастей Армтек

  .section__bottom
    a.primary-btn(href="") Смотреть все проекты
    span 
    span 
include ../callback