- let breadcrumb = ["Главная", "Результаты поиска"];
section.page-top.page-top_grey
  .container 
    .page-top__content
      +breadcrumbs(breadcrumb)
      h1 Результаты поиска
section.result 
  .container 
    .result__content
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/catalog/7.png)")
          //- +img("catalog/7.png", "фото результата поиска")
        .result__info
          .result__tag Оборудование
          .result__title #[span Механический шлагбаум] CARDDEX «MBT», комплект «Стандарт Плюс»
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/news/5.png)")
          //- +img("news/5.png", "фото результата поиска")
        .result__info
          .result__tag Новости
          .result__title Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню #[span механического шлагбаума]
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/no-img.png)")
          //- +img("no-img.png", "фото результата поиска")
        .result__info
          .result__tag Услуги
          .result__title Установка #[span шлагбаумов] и цепных барьеров
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/result4.png)")
          //- +img("result4.png", "фото результата поиска")
        .result__info
          .result__tag Портфолио
          .result__title ООО «ТТ-Групп» выполнило работы по установке #[span механического шалагбаума]
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/catalog/7.png)")
          //- +img("catalog/7.png", "фото результата поиска")
        .result__info
          .result__tag Оборудование
          .result__title #[span Механический шлагбаум] CARDDEX «MBT», комплект «Стандарт Плюс»
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/news/5.png)")
          //- +img("news/5.png", "фото результата поиска")
        .result__info
          .result__tag Новости
          .result__title Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню #[span механического шлагбаума]
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/no-img.png)")
          //- +img("no-img.png", "фото результата поиска")
        .result__info
          .result__tag Услуги
          .result__title Установка #[span шлагбаумов] и цепных барьеров
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/news/5.png)")
          //- +img("news/5.png", "фото результата поиска")
        .result__info
          .result__tag Новости
          .result__title Сотрудники ТТ-ГРУПП приняли участие в мероприятии, посвященному Дню #[span механического шлагбаума]
        .arrow 
          span
          span
          span
          span
      a.result__item(href="")
        .result__img 
          span
          span
          span
          span
          div(style="background-image: url(assets/img/result4.png)")
          //- +img("result4.png", "фото результата поиска")
        .result__info
          .result__tag Портфолио
          .result__title ООО «ТТ-Групп» выполнило работы по установке #[span механического шалагбаума]
        .arrow 
          span
          span
          span
          span
    .section__bottom
      span
      span
    .pagination 
      .pagination__item.pagination__item_prev
      .pagination__item.pagination__item_active 1
      .pagination__item 2
      .pagination__item 3
      .pagination__item 4
      .pagination__item 5
      .pagination__item.pagination__item_next

include ../callback

