- let breadcrumb = ["Главная", "Услуги", "Системы видеонаблюдения"];
section.page-top.page-top_bg(style="background-image: url(assets/img/service2.png)")
  .container
    .page-top__content 
      +breadcrumbs(breadcrumb)
      h1 Системы видеонаблюдения
section.service 
  .container 
    .section__top
      span
      span
  .subservices
    .subservices__item
      .container
        .subservices__item-content 
          .subservices__item-title
            h2(lang="ru") Проектирование
          .subservices__item-list
            ol 
              li 
                a(href="") 
                  .number 1
                  p Проектирование систем видеонаблюдения
                  .arrow
            .subservices__item-bottom
    .subservices__item
      .container
        .subservices__item-content 
          .subservices__item-title
            h2(lang="ru") Монтаж
          .subservices__item-list
            ol 
              li 
                a(href="") 
                  .number 1
                  p Монтаж систем видеонаблюдения
                  .arrow
              li 
                a(href="") 
                  .number 2
                  p Монтаж систем аналогового видеонаблюдения
                  .arrow
              li 
                a(href="") 
                  .number 3
                  p Монтаж систем IP видеонаблюдения
                  .arrow
              li 
                a(href="") 
                  .number 4
                  p Монтаж систем охранного телевидения
                  .arrow
              li 
                a(href="") 
                  .number 5
                  p Монтаж систем видеонаблюдения для дома и дачи
                  .arrow
              li 
                a(href="") 
                  .number 6
                  p Монтаж систем видеонаблюдения для бизнеса и государства
                  .arrow
            .subservices__item-bottom
    .subservices__item
      .container
        .subservices__item-content 
          .subservices__item-title
            h2(lang="ru") Обслуживание
          .subservices__item-list
            ol 
              li 
                a(href="") 
                  .number 1
                  p Обслуживание систем видеонаблюдения
                  .arrow
            .subservices__item-bottom
section.calc 
  .container 
    .calc__content 
      .calc__item 
        a.calc__item-link(style="background-image: url(assets/img/calc1.png)" href="")
          .icon.calc__item-icon(style="background-image: url(assets/img/svg/icon28.svg)") 
            svg(width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M28.2 42.9239C28.7933 42.9743 29.3937 43 30 43C41.598 43 51 33.598 51 22C51 10.402 41.598 1 30 1C18.402 1 9 10.402 9 22C9 27.8761 11.4134 33.1885 15.3031 37M15 22C15 13.7157 21.7157 7 30 7M36.6 22C36.6 25.6451 33.6451 28.6 30 28.6C26.3549 28.6 23.4 25.6451 23.4 22C23.4 18.3549 26.3549 15.4 30 15.4C33.6451 15.4 36.6 18.3549 36.6 22Z' stroke-width='1.5' stroke-linecap='round')
              path(d='M1 40.5H9.95558C10.5249 40.5 10.977 40.9752 11.0019 41.544C11.022 42.0026 11.0674 42.4922 11.1434 43M19 52C27.4 52 49 52 57 52' stroke-width='1.5' stroke-linecap='round')
              path(d='M25.9272 34.69C26.3249 34.3669 26.9026 34.3967 27.2649 34.7591L27.4037 34.8978C27.766 35.2602 27.7958 35.8378 27.4727 36.2355L12.179 55.0585C10.83 56.7188 8.34085 56.8472 6.82819 55.3345V55.3345C5.31553 53.8219 5.44394 51.3327 7.10422 49.9837L25.9272 34.69Z' stroke-width='1.5' stroke-linecap='round')
              circle(cx='10' cy='52' r='1' stroke-width='1.5' stroke-linecap='round')
          .calc__item-title Расчёт места на жёстком диске
          span Расчитать
          .arrow
            span
      .calc__item
        a.calc__item-link(style="background-image: url(assets/img/calc2.png)" href="") 
          .icon.calc__item-icon(style="background-image: url(assets/img/svg/icon29.svg)") 
            svg(width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M1 36H57' stroke-width='1.5' stroke-linecap='round')
              path(d='M45.8614 40C44.7915 49.5889 37.6502 57 28.9998 57C20.3494 57 13.208 49.5889 12.1382 40' stroke-width='1.5' stroke-linecap='round')
              path(d='M34 47.6479C32.4976 48.5128 30.7988 49 29 49C27.2012 49 25.5024 48.5128 24 47.6479' stroke-width='1.5' stroke-linecap='round')
              path(d='M9.08536 30C8.38141 27.8011 8 25.4472 8 23C8 10.8497 17.402 1 29 1C40.598 1 50 10.8497 50 23C50 25.4472 49.6186 27.8011 48.9146 30' stroke-width='1.5' stroke-linecap='round')
              path(d='M7.50002 36C7.16669 34 7.60002 30 12 30C12 24.5 10.9999 22 14.9999 21C18.9999 20 21.4999 16 21.4999 13C23.9999 18 25.4999 21.5 31.4999 22C37.4999 22.5 39.4999 22.5 41.4999 22.5C43.4999 22.5 44.9999 23 44.9999 26.5C44.9999 28 44.9999 30 45.9999 30C47.9999 30 49.9999 31 49.9999 36' stroke-width='1.5' stroke-linecap='round')
              path(d='M24 34C24 32.3431 22.6569 31 21 31C19.3431 31 18 32.3431 18 34' stroke-width='1.5' stroke-linecap='round')
              path(d='M39 34C39 32.3431 37.6569 31 36 31C34.3431 31 33 32.3431 33 34' stroke-width='1.5' stroke-linecap='round')
          .calc__item-title Расчет дистанции распознавания
          span Расчитать
          .arrow
            span

include ../callback