- let breadcrumb = ["Главная", "Услуги", "Системы видеонаблюдения", "Монтаж систем видеонаблюдения"];
section.page-top.page-top_grey
  .container
    .page-top__content 
      +breadcrumbs(breadcrumb)
      h1 Монтаж систем видеонаблюдения
section.calc 
  .container 
    .calc__content 
      .calc__item 
        a.calc__item-link(style="background-image: url(assets/img/calc1.png)" href="")
          .icon.calc__item-icon(style="background-image: url(assets/img/svg/icon28.svg)") 
            svg(width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M28.2 42.9239C28.7933 42.9743 29.3937 43 30 43C41.598 43 51 33.598 51 22C51 10.402 41.598 1 30 1C18.402 1 9 10.402 9 22C9 27.8761 11.4134 33.1885 15.3031 37M15 22C15 13.7157 21.7157 7 30 7M36.6 22C36.6 25.6451 33.6451 28.6 30 28.6C26.3549 28.6 23.4 25.6451 23.4 22C23.4 18.3549 26.3549 15.4 30 15.4C33.6451 15.4 36.6 18.3549 36.6 22Z' stroke-width='1.5' stroke-linecap='round')
              path(d='M1 40.5H9.95558C10.5249 40.5 10.977 40.9752 11.0019 41.544C11.022 42.0026 11.0674 42.4922 11.1434 43M19 52C27.4 52 49 52 57 52' stroke-width='1.5' stroke-linecap='round')
              path(d='M25.9272 34.69C26.3249 34.3669 26.9026 34.3967 27.2649 34.7591L27.4037 34.8978C27.766 35.2602 27.7958 35.8378 27.4727 36.2355L12.179 55.0585C10.83 56.7188 8.34085 56.8472 6.82819 55.3345V55.3345C5.31553 53.8219 5.44394 51.3327 7.10422 49.9837L25.9272 34.69Z' stroke-width='1.5' stroke-linecap='round')
              circle(cx='10' cy='52' r='1' stroke-width='1.5' stroke-linecap='round')
          .calc__item-title Расчёт места на жёстком диске
          span Расчитать
          .arrow
            span
      .calc__item
        a.calc__item-link(style="background-image: url(assets/img/calc2.png)" href="") 
          .icon.calc__item-icon(style="background-image: url(assets/img/svg/icon29.svg)") 
            svg(width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M1 36H57' stroke-width='1.5' stroke-linecap='round')
              path(d='M45.8614 40C44.7915 49.5889 37.6502 57 28.9998 57C20.3494 57 13.208 49.5889 12.1382 40' stroke-width='1.5' stroke-linecap='round')
              path(d='M34 47.6479C32.4976 48.5128 30.7988 49 29 49C27.2012 49 25.5024 48.5128 24 47.6479' stroke-width='1.5' stroke-linecap='round')
              path(d='M9.08536 30C8.38141 27.8011 8 25.4472 8 23C8 10.8497 17.402 1 29 1C40.598 1 50 10.8497 50 23C50 25.4472 49.6186 27.8011 48.9146 30' stroke-width='1.5' stroke-linecap='round')
              path(d='M7.50002 36C7.16669 34 7.60002 30 12 30C12 24.5 10.9999 22 14.9999 21C18.9999 20 21.4999 16 21.4999 13C23.9999 18 25.4999 21.5 31.4999 22C37.4999 22.5 39.4999 22.5 41.4999 22.5C43.4999 22.5 44.9999 23 44.9999 26.5C44.9999 28 44.9999 30 45.9999 30C47.9999 30 49.9999 31 49.9999 36' stroke-width='1.5' stroke-linecap='round')
              path(d='M24 34C24 32.3431 22.6569 31 21 31C19.3431 31 18 32.3431 18 34' stroke-width='1.5' stroke-linecap='round')
              path(d='M39 34C39 32.3431 37.6569 31 36 31C34.3431 31 33 32.3431 33 34' stroke-width='1.5' stroke-linecap='round')
          .calc__item-title Расчет дистанции распознавания
          span Расчитать
          .arrow
            span
section.post 
  .container
    p Уважаемые Заказчики, коллеги!
    p Компания «ТТ-ГРУПП» с 2017 года предоставляет услуги по монтажу систем видеонаблюдения и охранного телевидения, преимущественно корпоративным заказчикам. У нас работают только лучшие монтажники и инженеры с многолетним опытом монтажа видеонаблюдения. Наши клиенты — это производственные предприятия, складские комплексы, офисы, агрокомплексы, государственные учреждения, музеи, паркинги, коттеджные поселки, частные дома и дачи.
    .highlighted-text   
      p Помните - в большинстве случаев видеонаблюдение в России, единственный способ добиться справедливости!
    p Монтаж систем современного видеонаблюдения от компании «ТТ-ГРУПП» позволит вам получить множество преимуществ, в частности:
    ol 
      li один исполнитель, ответственный за все этапы;
      li комплексный подход к выполнению проекта;
      li подбор функциональной и качественной системы видеонаблюдения по оптимальной цене;
      li технически выверенные и экономически обоснованные решения;
      li положительный опыт в реализации большого количества проектов;
      li необходимые лицензии и допуски в сфере строительства и безопасности;
      li профессиональные консультации, а также обучение работе с системой;
      li гарантийное и постгарантийное обслуживание
    h2(lang="ru") Зачем нужна система видеонаблюдения
    p Системы видеонаблюдения решают несколько важных задач по охране объекта:
    ol 
      li Значительно повышает уровень безопасности для производственных и жилых объектов. Все передвижения злоумышленников можно будет увидеть на мониторе и зафиксировать их неправомерные действия;
      li Уменьшает вероятность совершения преступлений, помогает избежать значительных финансовых потерь, снижается количество краж и правонарушений;
      li Способствует быстрому реагированию служб безопасности на различные правонарушения и тревожные события на охраняемом объекте;
      li Повышается дисциплина рабочего и обслуживающего персонала;
      li Позволяет контролировать несколько объектов одновременно;
      li Позволяет провести системный анализ какого-либо инцидента;
    h2(lang="ru") Сколько стоит установка системы видеонаблюдения?
    p Заказчик должен понимать, что чем более высокие требования предъявляются к системе видеонаблюдения, тем больше оборудования потребуется и, тем более дорогой будет система. Еще одним фактором, существенно влияющим на стоимость системы видеонаблюдения — это система хранения данных. Стоимость системы хранения в большой степени зависит от глубины архива и качества видеоданных (количество кадров и разрешения видео картинки).
    p Поскольку стоимость монтажа видеонаблюдения существенно зависит от стоимости используемого оборудования, мы решили предлагать своим клиентам как решения на оборудовании отечественного производства, например: RVi, BOLID, MACROSCOP, Trassir, BEWARD, Proto-X, LTV, SOWA, так и решения на оборудовании известных мировых лидеров, как: Hikvision, IDIS, Infinity, Axis, Space Technology, MicroDigital, Honeywell, VideoNet, WIZEBOX, FalconEye, POLYVISION, Panasonic, EverFocus, BOSCH, Dahua, Tecsar, Sony.
    h2(lang="ru") Стоимость установки системы видеонаблюдения в Туле
    .custom-table 
      .custom-table__head
        .custom-table__column Виды услуг
        .custom-table__column Ед. измерения
        .custom-table__column Цена за ед., руб.
      .custom-table__dropdown.active Монтаж оборудования
        .custom-table__btn
          span
          span
      .custom-table__body(style="display: block")
        .custom-table__row
          .custom-table__column Монтаж и сборка шкафа телекоммуникационного, от
          .custom-table__column шт.
          .custom-table__column 3 500,00
        .custom-table__row
          .custom-table__column Монтаж и сборка шкафа телекоммуникационного, от
          .custom-table__column шт.
          .custom-table__column 5 000,00
      .custom-table__dropdown Пуско-наладочные работы
        .custom-table__btn
          span
          span
      .custom-table__body
        .custom-table__row
          .custom-table__column Обучение пользователя до 3-х человек
          .custom-table__column система
          .custom-table__column бесплатно
        .custom-table__row
          .custom-table__column Обучение пользователя до 3-х человек
          .custom-table__column -
          .custom-table__column бесплатно
        .custom-table__row
          .custom-table__column Подготовка коммерческого предложения
          .custom-table__column -
          .custom-table__column бесплатно
      .custom-table__dropdown.active Прочие работы
        .custom-table__btn
          span
          span
      .custom-table__body(style="display: block")
        .custom-table__row
          .custom-table__column Обучение пользователя до 3-х человек
          .custom-table__column система
          .custom-table__column бесплатно
        .custom-table__row
          .custom-table__column Обследование объекта до 20 км от Тулы, от
          .custom-table__column -
          .custom-table__column бесплатно
        .custom-table__row
          .custom-table__column Подготовка коммерческого предложения
          .custom-table__column -
          .custom-table__column бесплатно
      .custom-table__dropdown Почасовая стоимость работ
        .custom-table__btn
          span
          span
      .custom-table__body
        .custom-table__row
          .custom-table__column 1
          .custom-table__column 2
          .custom-table__column 3
        .custom-table__row
          .custom-table__column 4
          .custom-table__column 5
          .custom-table__column 6
        .custom-table__row
          .custom-table__column 7
          .custom-table__column 8
          .custom-table__column 9
      .custom-table__dropdown Коэффициенты
        .custom-table__btn
          span
          span
      .custom-table__body
        .custom-table__row
          .custom-table__column 1
          .custom-table__column 2
          .custom-table__column 3
        .custom-table__row
          .custom-table__column 4
          .custom-table__column 5
          .custom-table__column 6
        .custom-table__row
          .custom-table__column 7
          .custom-table__column 8
          .custom-table__column 9
      .custom-table__dropdown Коэффициенты
        .custom-table__btn
          span
          span
      .custom-table__body
        .custom-table__row
          .custom-table__column 1
          .custom-table__column 2
          .custom-table__column 3
        .custom-table__row
          .custom-table__column 4
          .custom-table__column 5
          .custom-table__column 6
        .custom-table__row
          .custom-table__column 7
          .custom-table__column 8
          .custom-table__column 9
section.gallery
  .section__title 
    .container 
      h2(lang="ru") Фотогалерея
  .container
    .gallery__slider
      .swiper 
        .swiper-wrapper 
          .swiper-slide         
            +img("gallery1.png", "изображение")         
          .swiper-slide 
            +img("gallery2.png", "изображение")
          .swiper-slide  
            +img("gallery3.png", "изображение")


      .slider-bottom
        .swiper-pagination
        .swiper-navigation
          .swiper-button-prev
            span
            span
            span
          .swiper-button-next 
            span
            span
            span
    .section__bottom
section.portfolio.portfolio_index
  .section__title 
    .container 
      h2(lang="ru") Портфолио
  .portfolio__content 
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/1.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/2.png)") 
      p.portfolio__item-title Мультимедиа в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/3.png)") 
      p.portfolio__item-title IP-видеонаблюдение Dahua и Tiandy в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/4.png)") 
      p.portfolio__item-title Локальная сеть в детском парке развлечений: комфорт для посетителей
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/5.png)") 
      p.portfolio__item-title Замена пожарных шкафов на складском предприятии
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/6.png)") 
      p.portfolio__item-title IP-видеонаблюдение и wi-fi на базе отдыха в Заокском районе.
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/7.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования RVi на территории металлургического завода
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/8.png)") 
      p.portfolio__item-title Противопожарные системы на складе автозапчастей Армтек
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/5.png)") 
      p.portfolio__item-title Локальная сеть в детском парке развлечений: комфорт для посетителей
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/3.png)") 
      p.portfolio__item-title IP-видеонаблюдение Dahua и Tiandy в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/2.png)") 
      p.portfolio__item-title Мультимедиа в детском парке развлечений
    a.portfolio__item(href="" style="background-image: url(assets/img/portfolio/1.png)") 
      p.portfolio__item-title IP-видеонаблюдение на базе оборудования Hikvision в Автомоечном комплексе
  .section__bottom
    span 
    span 
section.products
  .section__title 
    .container 
      h2(lang="ru") Оборудование
  .products__content 
    .container
      .accordeon
        .accordeon__item
          .accordeon__head.open AHD видеокамеры
            .accordeon__btn
              span
              span
          .accordeon__body(style="display: block")
            .catalog__items  
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать

        .accordeon__item
          .accordeon__head Аксессуары и HDD
            .accordeon__btn
              span
              span
          .accordeon__body
            .catalog__items  
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
        .accordeon__item
          .accordeon__head Видеорегистраторы
            .accordeon__btn
              span
              span
          .accordeon__body
            .catalog__items  
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
        .accordeon__item
          .accordeon__head IP-видеокамеры
            .accordeon__btn
              span
              span
          .accordeon__body
            .catalog__items  
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
              .catalog__item  
                .catalog__item-img 
                  +img("products/1.png", "SOWA T120-2")
                .catalog__item-info 
                  a.catalog__item-title(href="") SOWA T120-2
                  .catalog__item-price 2100 ₽
                  a.secondary-btn Заказать
include ../callback