.modal(data-modal="thanks-modal")
  .modal__close
  .modal__wrap
    .modal__overflow
      .modal__content
        +img("svg/check.svg")
        p.modal__title.modal__title_thanks Ваша заявка принята
        p.modal__comment Мы уже начали её обрабатывать и скоро Вам перезвоним
        a.primary-btn Закрыть окно
