include ../mixins/style
include ../mixins/js
include ../mixins/img
include ../mixins/svg
include ../mixins/breadcrumbs
//- include ../mixins/blog-card
//- include ../mixins/statistics-card

block variables

doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link#favicon(rel='shortcut icon' type='image/png' href='assets/img/favicon.png')
    link(rel='stylesheet' href='assets/fonts/fonts.css')
    +style('libs.min.css')
    +style('global.css')
    +style('common.css')
    +js('libs.min.js')
    block styles
  body
    .body-wrapper
      include ../partials/header.pug
      main.main
        block content
      include ../partials/footer.pug
      include ../components/modals/all-modals

    +js('global/global.min.js')
    +js('main/select2.js')
    +js('main/common.js')
    +js('main/jquery.ui.touch-punch.min.js')
    +js('main/sliders.js')



    block scripts
